Repository sylk80/tictactoe_team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "./*.js": ["eslint --cache --fix"],
  "./*.{js,json,css,scss,md}": ["prettier  --write"]
}

ci: update
  .travis.yml
Due: none

chore: copied over old code & captured tech debt items
  notes.md
  package.json
  src/tictactoekata.js
Due: eslint --cache --fix, prettier --write

chore: added domains to notes
  notes.md
Due: prettier --write

chore: created scenarios
  notes.md
Due: prettier --write

chore: added uats
  notes.md
Due: prettier --write

refactor: split bdd and unit tests n backlog
  notes.md
Due: prettier --write

chore: added tech debt items to backlog
  README.md
  docs/API_BACKLOG.md
  docs/BACKLOG.md
  docs/CLI_BACKLOG.md
Due: prettier --write

refactor: cleaned up backlog
  docs/BACKLOG.md
Due: prettier --write

ci: updated travis and sonarcloud badges
  README.md
Due: prettier --write

test: us1 uat1.1 game board creation - red
  .eslintrc
  .nvmrc
  NOTES.md
  __tests__/features/GameFlow.feature
  __tests__/features/gameflow.steps.js
  package.json
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.1 - new board creation - red
  NOTES.md
  __tests__/game.test.js
  __tests__/tictactoe_team_test.js
  features/GameFlow.feature
  features/gameflow.steps.js
  package.json
  test-report.xml
  tictactoe_team.js
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.1 - new board creation - green
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.1 - new board creation - refactor - red
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.1 - new board creation - refactor - green
  __tests__/board.test.js
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.1 - new board creation - refactor
  NOTES.md
  src/board.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

docs: notes update Fixed typo, add pomodoro plan
  NOTES.md
Due: prettier --write

test: us1 uat1.1 ut1.1.2 - game board creation message - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: game board creation message - green
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: game board creation message - refactor
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.3 - empty board printed - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: empty board printed - green
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: empty board printed - refactor
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.4 - board created message - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: board created message - green
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: board created message - refactor
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.1 ut1.1.5 - game starts with player x message - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: game starts with player x message - green
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 - game board creation - green
  NOTES.md
  features/gameflow.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.2 - first round - red
  NOTES.md
  features/GameFlow.feature
  features/gameflow.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.2 unit1.2.1 - x mark added to board - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.2 unit1.2.1 - still red
  NOTES.md
  __tests__/game.test.js
  features/gameflow.steps.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.2 unit1.2.1 - green
  __tests__/game.test.js
  features/gameflow.steps.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.2 unit1.2.2 - player x message - red
  NOTES.md
  __tests__/game.test.js
  docs/TECH_DEBT.md
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - green
  NOTES.md
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - refactor - red
  NOTES.md
  __tests__/player.test.js
  src/game.js
  src/player.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - refactor - green
  NOTES.md
  __tests__/player.test.js
  src/player.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - refactor - red
  NOTES.md
  __tests__/player.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - refactor - green
  NOTES.md
  src/player.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: player x message - refactor - complete
  NOTES.md
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write
