Repository sylk80/tictactoe_team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "./*.js": ["eslint --cache --fix"],
  "./*.{js,json,css,scss,md}": ["prettier  --write"]
}

refactor: first round set current player to O - refactor
  NOTES.md
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us1 uat1.3 - second round - green
  NOTES.md
Due: prettier --write

test: us1 uat1.3 - second round - green
  features/gameflow.steps.js
Due: eslint --cache --fix, prettier --write

test: us2 - winning conditions - red
  NOTES.md
  features/WinningConditions.feature
  features/winningconditions.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.1 - left column vertical win - red
  NOTES.md
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.1 - left column vertical win - still red
  NOTES.md
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.1 - left column vertical win - green
  NOTES.md
  __tests__/board.test.js
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.2 - middle column vertical win - red
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.2 - middle column vertical win - green
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.2 - middle column vertical win - refactor
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.3 - right column vertical win - red
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.3 - right column vertical win - green
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.3 - right column vertical win - refactor
  __tests__/board.test.js
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.4 - vertical win-check - red
  NOTES.md
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.4 - vertical win-check - green
  NOTES.md
Due: prettier --write

test: us2 uat2.1 unit2.1.5 -game win-check - red
  src/board.js
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.5 -game win-check - green
  NOTES.md
  __tests__/board.test.js
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.6 -player X won message printed - red
  NOTES.md
Due: prettier --write

test: us2 uat2.1 unit2.1.6 -player X won message printed - green
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.6 -player X won message printed - refactor
  NOTES.md
Due: prettier --write

test: us2 uat2.1 unit2.1.6 -player X won message printed - refactor
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.7 -the game ends - red
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.7 -the game ends - red
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 unit2.1.7 -the game ends - green
  NOTES.md
  test-report.xml
Due: prettier --write

test: us2 uat2.1 - vertical winning condition - green
  NOTES.md
  features/winningconditions.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 - vertical winning condition - refactor
  NOTES.md
  __tests__/game.test.js
  __tests__/utils/playermove.mock.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 - vertical winning condition - refactor complete
  NOTES.md
  features/gameflow.steps.js
  features/winningconditions.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.1 - vertical winning condition - game.js - refactor complete
  NOTES.md
  __tests__/game.test.js
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

fix: eslint errors and ignored legacy code
  .eslintrc
  src/game.js
Due: eslint --cache --fix, prettier --write

chore: added ci/cd scripts
  .travis.yml
  Dockerfile
  NOTES.md
  package.json
  scripts/build-and-publish.sh
  scripts/config/constants.sh
  scripts/utils/ibmcloud.sh
  test-report.xml
Due: prettier --write

fix: sonarcloud properties
  sonar-project.properties
Due: none

fix: build and publish script
  scripts/build-and-publish.sh
Due: none

test: us2 uat2.2 - horizontal winning condition - red
  NOTES.md
  features/winningconditions.steps.js
  scripts/initialise-environment.sh
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.1 - first row win - red
  NOTES.md
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.1 - first row win - green
  NOTES.md
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.1 - middle row win - red
  NOTES.md
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.1 - middle row win - green
  NOTES.md
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.1 - top row win - green
  NOTES.md
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.4 - player o won message printed - red
  NOTES.md
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write
