Repository sylk80/tictactoe_team: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "./*.js": ["eslint --cache --fix"],
  "./*.{js,json,css,scss,md}": ["prettier  --write"]
}

test: us2 uat2.2 unit 2.2.4 - board check horizontal win - red
  NOTES.md
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.4 - board check horizontal win - green
  NOTES.md
  __tests__/board.test.js
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.4 - player o won message printed - green
  NOTES.md
  src/game.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 unit 2.2.5 - horizontal win game ends - green
  __tests__/game.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.2 - horizontal winning condition - green & refactor
  NOTES.md
  features/GameFlow.feature
  features/HorizontalWinningCondition.feature
  features/VerticalWinningCondition.feature
  features/horizontalWinningCondition.steps.js
  features/verticalWinningCondition.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

fix: corrected script paths
  .travis.yml
  scripts/build-and-publish.sh
Due: none

fix: eslint error in vertical winning condition step
  features/verticalWinningCondition.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

fix: changed ci/cd script to bash
  scripts/build-and-publish.sh
Due: none

fix: script paths in ci/cd script
  scripts/build-and-publish.sh
Due: none

chore: updated package-lock
  .gitignore
  package-lock.json
  package.json
  test-report.xml
Due: prettier --write

chore: moved husky to prod dependancies
  package-lock.json
  package.json
  test-report.xml
Due: prettier --write

test: us2 uat2.3 - diagonal winning condition - red
  NOTES.md
  features/DiagonalWinningCondition.feature
  features/diagonalWinningCondition.steps.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.3 unit2.3.1 - diagonal winning condition - top left to bottom right - red
  __tests__/board.test.js
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.3 unit2.3.1 - diagonal winning condition - top right to bottom left - red
  __tests__/board.test.js
  test-report.xml
Due: eslint --cache --fix, prettier --write

test: us2 uat2.3 unit2.3.1 - diagonal winning condition - top right to bottom left - green
  src/board.js
  test-report.xml
Due: eslint --cache --fix, prettier --write
